.App {
  text-align: center;
}

.App-main-image {
  width: 30%;
  margin: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #c42222;
  margin: 0 10px 0 10px;
}

h2 {
  color: #c42222;
}